<h2>Tasks</h2>
<ol id="taskList">
    <li class="taskItem" ng-repeat="task in tasks | orderBy:'order'">
        <h3 class="taskTitle">{{task.title}}</h3>
        <p class="taskDate">{{task.dueDate | date:"MM/dd/yyyy"}}</p>
        <button disabled="{{task | disabledIfMinTask:tasks}}" ng-click="moveTaskUp(task)">Up</button>
        <button disabled="{{task | disabledIfMaxTask:tasks}}" ng-click="moveTaskDown(task)">Down</button>
    </li>
    <li>
        <form ng-submit="addTask()">
            <input type="text" ng-model="nextTask" />
            <input type="submit" value="add" />
        </form>
    </li>
</ol>